:root {
  --primary: hsla(176, 100%, 19%, 1);
  --secondary: hsla(224, 36%, 56%, 1);
  --dark: #303030;
  --grey: #404040;
  --bg: #edf2f7;
  --sidebar-width: 280px;
  --header-height: 62px;
  --footer-height: 50px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

footer {
  height: var(--footer-height);
  text-align: center;
  border-top: 1px lightgrey solid;
}

main {
  min-height: 100vh;
  margin-left: var(--sidebar-width);
}

.content {
  padding: 15px 10vw;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  background-color: var(--bg);

}

#main-wide {
  margin-left: var(--sidebar-width);
}

p,
li,
th, td {
  color: var(--dark);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  color: var(--dark);
}

.card {
  width: 100%;
  background-color: white;
  border: 1px solid lightgrey;
  margin: 5px 0;
  padding: 10px;
}

table {
  border: 1px solid #dededf;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

table caption {
  caption-side: top;
  text-align: left;
}

table th {
  border: 1px solid #dededf;
  background-color: #eceff1;
  padding: 5px;
}

table td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  padding: 5px;
}