:root {
    --primary: hsla(176, 100%, 19%, 1);
    --secondary: hsla(224, 36%, 56%, 1);
    --dark: #303030;
    --grey: #404040;
    --bg: #edf2f7;
    --sidebar-width: 280px;
    --header-height: 62px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    min-height: 100vh;
    margin-left: var(--sidebar-width);
}

.content {
    padding: 10px 10vw;
    min-height: calc(100vh - var(--header-height));
    background-color: var(--bg);
}

#main-wide {
    margin-left: var(--sidebar-width);
}

p {
    color: var(--dark);
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    color: var(--dark);
}

.card {
    width: 100%;
    background-color: white;
    border: 1px solid lightgrey;
    margin: 5px 0;
    padding: 10px;
}