.tab-button {
  background: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--grey);
  font-weight: bold;
  padding: 8px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  gap: 4px;
  border: 1px solid lightgrey;
}

.tab-button:hover {
  cursor: pointer;
}

.tab-button-active {
  background: var(--primary);
  color: var(--bg);
}

.tab-group {
  display: flex;
  margin-left: 50px;
}
